<div>
    <div class="row">
        <div class="col-md-2">
            <input type="text" placeholder="Search By Make" class="form-control" ng-model="searchModel">
        </div>
        <div class="col-md-2">
            <input type="text" placeholder="Entry Country Code" class="form-control" ng-model="countryCode">
        </div>
        <div class="col-md-2">
            <input type="text" placeholder="Entry ISD Code" class="form-control" ng-model="ISDCode">
        </div>
        <div class="col-md-2">
            <button ng-click="showMoreVehicles()" class="btn btn-primary">Show More Vehicles</button>
        </div>
                <div class="col-md-2">
            <button ng-click="GoToCheckOut()" class="btn btn-primary">Checkout</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No</th>
                <th><a href="" ng-click="sortByYear()">Year</a></th>
                <th>Make</th>
                <th>Model</th>
                <th>Contact</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vehicle in vehicles
               |filter:{Make:searchModel}|orderBy:orderByYear|limitTo:vehicleCount">
                <td>{{::$index+1}}</td>
                <td>{{::vehicle.Year}}</td>
                <td>{{::vehicle.Make|uppercase}}</td>
                <td>{{vehicle.Model|lowercase}}</td>
                <td>{{::vehicle.Contact|phoneformat:countryCode:ISDCode}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="addToCart(vehicle)">Add To Cart</button>
                </td>
            </tr>

      

        </tbody>
    </table>

</div>
